{% extends 'shifty/base.html' %}

{% block content %}

<h1>{{ name }} -- {{ mrn }}</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Vert</th>
      <th>Long</th>
      <th>Lat</th>
      <th>Final Vert</th>
      <th>Final Long</th>
      <th>Final Lat</th>
    </tr>
  </thead>
  <tbody>
    {% for fp in finalPositions %}
    <tr>
      <td>{{ fp.date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ fp.crad.0 }}</td>
      <td>{{ fp.crad.1 }}</td>
      <td>{{ fp.crad.2 }}</td>
      <td>{{ fp.imaging.0 }}</td>
      <td>{{ fp.imaging.1 }}</td>
      <td>{{ fp.imaging.2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
