{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}

{% bootstrap_messages %}

<h1>{{ name }} -- {{ mrn }}</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Vert</th>
      <th>Long</th>
      <th>Lat</th>
    </tr>
  </thead>
  <tbody>
    {% for fp in finalPositions %}
    <tr>
      <td>{{ fp.date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ fp.crad.0 }}</td>
      <td>{{ fp.crad.1 }}</td>
      <td>{{ fp.crad.2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br /><br />
<a href="{% url 'shifty:index' %}">Home</a>
