<h1>Patient</h1>
<table style="border: 1px solid black">
  <tr>
    <th style="border: 1px solid black">Vert</th>
    <th style="border: 1px solid black">Long</th>
    <th style="border: 1px solid black">Lat</th>
  </tr>
  {% for fp in finalPositions %}
  <tr>
    <td style="border: 1px solid black">{{ fp.0 }}</td>
    <td style="border: 1px solid black">{{ fp.1 }}</td>
    <td style="border: 1px solid black">{{ fp.2 }}</td>
  </tr>
  {% endfor %}
</table>

<br /><br />
<a href="{% url 'shifty:index' %}">Home</a>
